.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: blue;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: aqua;
    padding: 5px;
    border-radius: 5px;
}

.main-nav__item a:hover {
    color: red;
}

.main-nav__item a:active {
    color: blueviolet;
}

.main-nav__item a::after {
    content: " ♥ ";
}