* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font: 62.5%;
}
body {
    font-size: 100%;
}
.text-container {
    font-size: 1.5em;
}

.text-container div {
    font-size: 1.5em;
}

.contenido {
    font-size: 1.6rem;
}