*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color: aqua;
    font-family: serif;
    margin-bottom: 10px;
}

.tittle {
    font-size: 18px;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: blue;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;

}.nav .blog {
    background-color: red;
}