* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: white;
}

header {
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    min-width: 400px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 8px;
    height: 45px;
   
}

.nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
}

.nav a {
    color: black;
    max-width: 992px;
}

.nav-item {
    text-decoration: none;
    margin: 0 10px;
}

.Puntitos-google {
    height: 32px;
    width: 32px;
}

svg {
    width: 32px;
    height: 32px;
    fill: black;
}

.personal-img{
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.personal-img img {
    width: 32px;
    height: 32px;
    border-radius: 16PX;
}


.center-google {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.center-google img {
    height: 92px;
    width: 292px;
}

.Barra-ext2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.Barra-ext {
    display: flex;
}
